<!DOCTYPE html>
<html>
<head>
  <title><%=full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=true">  </script>

  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %> 

       <div id="map_canvas"></div>
    <%= yield %>
       <div id="sidebar">
          <table class="table table-bordered">
          	<tr>
         	     <td><i  class="icon-globe icon-white"></i> <icon-glass> <%=  @situation_geosmap.name%></td>
            </tr>
       	  </table>
       </div> 
    
</body>
</html>
